@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "PT Sans";
    }
}
.layout {
    @apply w-[100%] h-[100vh] bg-[#0000008a] z-50  fixed top-0
    transition-all duration-100 
}
.close-modle {
    @apply translate-y-[-200%]
}
.login-modle ,
.register-modle ,
.create-post-modle {
    @apply fixed top-12 bg-white py-[20px] w-[330px] rounded-md z-[1000]
    left-[4%] md:left-[25%] lg:left-[35%] md:w-[400px] transition-all duration-500
}

.input-fill {
    @apply  py-[4px] rounded-md bg-transparent w-full border 
    mb-[15px] outline-none
    focus:border-sky-400
} 
.navbar {
    @apply flex justify-between p-4 rounded-md bg-white shadow-xl fixed top-0 md:w-[60%] w-full z-[40]
}
.line {
    @apply w-full mx-auto my-[15px] h-[1px] bg-gray-300
}
.btn-sm {
    @apply px-[18px] py-[8px] border rounded-md text-center font-semibold
}
.success-btn {
    @apply  border-green-500 text-green-500 hover:bg-green-500 hover:text-white transition-all duration-300
}
.danger-btn {
    @apply border-red-600 text-red-600 hover:bg-red-600 hover:text-white transition-all duration-300
}
.prof-img-sm {
    @apply w-[40px] h-[40px] rounded-full border-2
}
.post {
    @apply rounded-md mt-[30px] shadow-xl
}
.head-post {
    @apply flex items-center bg-[#e7e5ee] px-[8px] py-[5px] rounded-t-md border border-white
    justify-between
}
.post-info {
    @apply px-[15px] py-[20px] bg-white rounded-b-md
}
.tag {
    @apply px-[8px] py-[2px] bg-gray-400 rounded-2xl text-white ml-[8px] font-normal text-[10px] 
}

.alert {
    @apply w-fit h-10 fixed z-[1000] bottom-4 right-2 text-center font-extralight px-[15px] leading-10 transition-all duration-300 ease-in-out border-[0.5px] rounded-sm
}
.success-al {
    @apply text-green-600 bg-[#d2d8d1] border-green-600 
}
.danger-al {
    @apply text-red-500 bg-[#ffd8d8] border-red-500
}
.create-post {
    @apply w-12 h-12 rounded-full bg-sky-400 text-white fixed bottom-5 right-2 md:bottom-10 md:right-24 text-4xl font-medium flex justify-center items-center 
    z-50 duration-300 transition-all origin-center shadow-lg
}
.post-comments {
    @apply w-[100%]  h-fit bg-white rounded-b-md  border-t-2
    p-2 py-6 mt-[5px]
}
.comment {
    @apply w-[100%] p-3 pr-0 bg-[#f0ecff] rounded-md
}
#nav-user-name {
    @apply mx-[15px] font-semibold text-sm md:text-xl
}
#edit-btn {
    @apply px-[8px] py-[5px] bg-gray-500 text-white rounded-md hover:bg-red-500 
    transition-all duration-200 shadow-2xl hover:shadow-sm
}
#delete-btn {
    @apply px-[8px] py-[5px] bg-red-600 text-white rounded-md ml-[5px]
}
.Profile-content {
    @apply flex  px-9 py-7 bg-white rounded-md 
    mb-[50px] flex-col items-start w-[100%] md:flex-row
}
.profile-image-md {
    @apply w-[100px] h-[100px] rounded-full mr-[20px]  border-2
}
.show-number-post {
    @apply text-5xl font-light md:mb-3  relative after:absolute after:content-['Posts'] 
    after:text-sm after:bottom-0 after:ml-[2px] after:text-gray-500 z-20 
}
.show-number-comments {
    @apply text-5xl font-light md:mt-3 relative after:absolute after:content-['comments'] 
    after:text-sm after:bottom-0 after:ml-[2px] after:text-gray-500 z-20
}